.logo {
  text-align: center;
  padding-top: 34px;

}

.main{
  background-image: url('../../app/@img/background1.png');
  background-size: 100% 100%;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.registerTitle {
  background-image: url('../../app/@img/FrameApp1.png');
  width: 170px;
  height: 80px;
  text-align: center;
}


.titleLeft {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #FFFFFF;
  padding-top: 15px;
}

.titleRight {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 23px;
}

.registerLoginTitle {
  background-image: url('../../app/@img/FrameApp2.png');
  width: 176px;
  height: 72px;
  text-align: center;
}



.formInput {
  padding-top: 12px;
}

.intputBackground {
  background-image: url('../../app/@img/Frame3.png');
  background-size: 100% 100%;
}

.titleIntput {
  padding: 18px 56px;
}

.input {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #969696;
  border: none;
  width: -webkit-fill-available;
}

.titleIntputCapcha {
  padding: 10px 20px;
}

.inputCapcha{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #969696;
  border: none;
}

.checkBox{
  width: 17px;
  height: 17px;
}

.register{
  background-image: url('../../app/@img/registerApp.png');
  background-size: 100% 100%;
}

.tileRegister {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 9px 102px;
}

.footer{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.loginRegisterTitle {
  background-image: url('../../app/@img/FrameApp4.png');
  width: 150px;
  height: 80px;
  text-align: center;
}

.loginTitle {
  background-image: url('../../app/@img/FrameApp5.png');
  width: 190px;
  height: 88px;
  text-align: center;
}

@media (max-width: 320px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
  }
}